/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-body-large, .mat-typography .mat-body-large, .mat-typography {
    font: 400 1rem / 1.9rem Roboto, sans-serif;
    letter-spacing: .031rem;
}